/*
Theme Name: Dynamik-Gen
Theme URI: http://cobaltapps.com/downloads/dynamik-website-builder/
Description: Dynamik Website Builder for Genesis puts you in control of your website through powerful design options and flexible customization tools.
Author: The Cobalt Apps Team
Author URI: https://cobaltapps.com/
Template: genesis
Version: 1.7.1
*/