/* Custom CSS
------------------------------------------------------------ */


/* Custom Responsive CSS
------------------------------------------------------------ */
@media only screen and (max-width: 1140px) {

}

@media only screen and (min-width: 840px) and (max-width: 1140px) {

}

@media only screen and (min-width: 480px) and (max-width: 1140px) {

}

@media only screen and (max-width: 839px) {

}

@media only screen and (min-width: 480px) and (max-width: 839px) {

}

@media only screen and (max-width: 479px) {

}